.container{
    border: solid 1px black;
    width: 300px;
    margin: auto;
    padding: 20px;
}

.container button{
    margin-top: 10px;
}

.info{
    margin-top: 20px;
    background-color: dodgerblue;
    min-height: 100px;
}